<div class="code-wrapper">
  <div class="title flex">
    <span class="self-center">Expected Body</span>
    <span class="flex-grow"></span>
    <i #editMode (click)="editMode.enabled = !editMode.enabled" class="secondary clickable material-icons">{{editMode.enabled ? 'close' : 'edit'}}</i>
  </div>
  <div class="vertical-spacer" *ngIf="editMode.enabled; else showJson;">
    <app-json-editor [obj]="obj"></app-json-editor>
  </div>
  <ng-template #showJson>
    <pre class="primary-text roboto-mono clickable overflow" (click)="editMode.enabled = true">{{ obj | json }}</pre>
  </ng-template>
</div>