<div class="code-wrapper">
  <div class="title flex">
    <span class="self-center">Expected Body</span>
    <span class="flex-grow"></span>
    <i #editMode (click)="editMode.enabled = !editMode.enabled" class="secondary clickable material-icons">{{editMode.enabled ? 'code' : 'edit'}}</i>
  </div>
  <div class="flex" *ngIf="(obj | json) != (copyOfObj | json)" [@collapse]>
    <button class="edit flex-1" (click)="discardChanges()" type="button">revert</button>
    <button class="edit flex-1" (click)="saveChanges()" type="button">save</button>
  </div>
  <div class="vertical-spacer" *ngIf="editMode.enabled" [@collapse]>
    <app-object-editor [obj]="copyOfObj"></app-object-editor>
  </div>
  <div class="clickable flex" *ngIf="!editMode.enabled" (click)="editMode.enabled = true" [@collapse]>
    <pre class="flex-1 primary-text roboto-mono overflow">{{ obj | json }}</pre>
    <pre class="flex-1 primary-text roboto-mono overflow" *ngIf="(obj | json) != (copyOfObj | json)">{{ copyOfObj | json }}</pre>
  </div>
  <!--
  <div class="clickable flex" (click)="editMode.enabled = true">
    <pre class="flex-1 primary-text roboto-mono overflow">{{ obj | json }}</pre>
    <pre class="flex-1 primary-text roboto-mono overflow">{{ copyOfObj | json }}</pre>
  </div>
  -->
</div>