:host{
  display: block;
}
button.edit{
  background-color: #FFD180;
  border-radius: 0;
  &:first-child{
    border-bottom-left-radius: 16px;
    border-right: 1px solid #FFAB40;
  }
  &:last-child{
    border-bottom-right-radius: 16px;
  }
}
pre{
  display: inline-block;
  width: 50%;
  max-height: 50vh;
}
pre:first-child{
  border-right: 1px solid rgba($color: #000000, $alpha: .12);
}
pre:only-child{
  border-right: none;
}
.code-wrapper {
  overflow: hidden;
  border: 1px solid rgba($color: #000000, $alpha: .12);
  border-radius: 8px;
  .title {
    background-color: rgba($color: #000000, $alpha: .12);
    padding: 8px 16px;
  }
}