<div class="code-wrapper">
  <div class="title row">
    <span class="self-center">
      <ng-content></ng-content>
    </span>
    <span class="grow"></span>
    <i #editMode (click)="editMode.enabled = !editMode.enabled" class="secondary clickable material-icons">{{editMode.enabled ? 'code' : 'edit'}}</i>
  </div>
  <div class="row" *ngIf="(obj | json) != (copyOfObj | json)" [@collapse]>
    <button class="button edit grow" (click)="discardChanges(); editMode.enabled = false;" type="button">revert</button>
    <button class="button edit grow" (click)="saveChanges(); editMode.enabled = false;" type="button">save</button>
  </div>
  <div class="clickable row" *ngIf="!editMode.enabled" (click)="editMode.enabled = true">
    <pre class="grow primary-text roboto-mono overflow">{{ obj | json }}</pre>
    <pre class="grow primary-text roboto-mono overflow" *ngIf="(obj | json) != (copyOfObj | json)">{{ copyOfObj | json }}</pre>
  </div>
  <div *ngIf="editMode.enabled">
    <app-object-editor class="overflow" [obj]="copyOfObj"></app-object-editor>
  </div>
  <!--
  <div class="clickable row" (click)="editMode.enabled = true">
    <pre class="grow primary-text roboto-mono overflow">{{ obj | json }}</pre>
    <pre class="grow primary-text roboto-mono overflow">{{ copyOfObj | json }}</pre>
  </div>
  -->
</div>