:host{
  display: block;
  overflow: auto;
}
.wrapper-array{
  margin-left: 19px;
  padding-left: 16px;
  border-left: 1px solid rgba($color: #000000, $alpha: .12);
}
.spacer{
  margin: 8px 0;
}
input{
  margin: 0 8px;
  &:last-child{
    margin-right: 0;
  }
}
select{
  margin: 0 8px;
  &:first-child{
    margin-left: 0;
  }
  &.special, &.boolean{
    width: 200px;
  }
}
button{
  border: none;
  padding: 0;
  height: 39px;
  width: 39px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.12);
  .material-icons{
    vertical-align: middle;
  }
  &.circle{
    height: 39px;
    width: 39px;
    background-color: transparent;
    border: 1px solid rgba($color: #000000, $alpha: .12);
  }
}