<div *ngFor="let property of key_value_pairs; let i = index;">
  <select [(ngModel)]="property.type" (ngModelChange)="onTypeChange(property)">
    <option *ngFor="let type of PROPERTY_TYPES; let j = index" [ngValue]="j">{{type}}</option>
  </select>
  <ng-container [ngSwitch]="property.type">
    <ng-container *ngSwitchCase="PROPERTY_TYPES_ENUM.STRING">
      <input type="text" [(ngModel)]="obj[property.key]">
    </ng-container>
    <ng-container *ngSwitchCase="PROPERTY_TYPES_ENUM.NUMBER">
      <input class="input-key" type="number" [(ngModel)]="obj[property.key]">
    </ng-container>
    <ng-container *ngSwitchCase="PROPERTY_TYPES_ENUM.BOOLEAN">
      <!--<input type="string" [(ngModel)]="obj[property.key]">-->
      <select [(ngModel)]="obj[property.key]">
        <option [ngValue]="true">true</option>
        <option [ngValue]="false">false</option>
      </select>
    </ng-container>
    <ng-container *ngSwitchCase="PROPERTY_TYPES_ENUM.ARRAY">
      <div class="wrapper-array">
        <app-array-editor></app-array-editor>
        <button>add</button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="PROPERTY_TYPES_ENUM.OBJECT">
      <app-json-editor [(obj)]="obj[property.key]"></app-json-editor>
    </ng-container>
  </ng-container>
</div>