<form (ngSubmit)="onSubmit($event)" [formGroup]="formTest" class="horizontal-spacer vertical-spacer">
  <div id="url-wrapper" class="flex overflow">
    <select name="selectMethod" formControlName="method">
      <option value="GET">GET</option>
      <option value="POST">POST</option>
      <option value="PUT">PUT</option>
      <option value="DELETE">DELETE</option>
    </select>
    <input class="flex-grow" type="text" placeholder="https://..." formControlName="url">
    <button type="button" class="outline" (click)="createTestFromUrl()">create</button>
  </div>
  <div class="flex">
    <span class="self-center">Status:</span>
    <input class="flex-grow" type="number" placeholder="200" formControlName="status">
  </div>
  <app-json-editor [obj]="testObj" (objChange)="testObj = $event"></app-json-editor>
  <!--<pre class="roboto-mono">{{formTest.value | json}}</pre>-->
  <button>add</button>
</form>