<div 
[class.good]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length == 0" 
[class.error]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0"
class="card-request flex column">
  <span class="request-method no-shrink bold">{{ test?.method }}</span>

  <div class="request-actions">
    <ng-content></ng-content>
  </div>

  <span class="request-url">{{ test?.url }}</span>
</div>

<div class="card-result horizontal-spacer vertical-spacer">
  <pre class="overflow">{{ test.expectedResponse | json }}</pre>

  <ng-container *ngIf="test.response">
    <div>Status {{ test.response?.status }}</div>
    <ng-container *ngIf="test.response?.errors.length > 0">
      <div class="error-report horizontal-spacer vertical-spacer" *ngFor="let error of test.response?.errors">
        <div class="title">Error</div>
        <div>
          <span class="secondary">Field:</span>
          <ng-container *ngFor="let property of error.depth">
            <span class="field">{{property}}</span>
            <span class="separator secondary">></span>
          </ng-container>
          <span class="field">{{error.key}}</span></div>
        <div><span class="secondary">Message:</span> {{error.type}}</div>
      </div>
    </ng-container>
    <pre class="overflow">{{ test.response?.body | json }}</pre>
  </ng-container>
</div>