@import '~CssFramework/styles.scss';
:host {
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.card-request {
  font-size: .8rem;
  word-break: break-all;
  padding: 8px;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  background-color: #B0BEC5; // blue gray 200
  transition: .4s background-color ease;
  color: white;
  transition: background-color .5s ease-out;
  .request-method {
    font-size: 2rem;
  }
  .request-actions {
    display: flex;
    flex-wrap: wrap;
  }
  .request-url {
    margin-top: auto;
    font-weight: 300;
  }
  &.error {
    background-color: #FF5722; // red 500
  }
  &.good {
    background-color: #4CAF50; // green 500
  }
}
.card-result {
  flex: 1;
  background-color: white;
  overflow: hidden;
  .fields {
    background-color: red;
  }
}
pre {
  max-height: 200px;
}
.error-report {
  border-radius: 8px;
  border: 1px solid #FF3D00;
  .title {
    color: #F4511E;
  }
  .field,
  .separator {
    border-radius: 4px;
    padding: 0 4px;
  }
  .field {
    background-color: rgba($color: #000000, $alpha: .12);
  }
  span {
    display: inline-block;
  }
}
.code-wrapper {
  overflow: hidden;
  border: 1px solid rgba($color: #000000, $alpha: .12);
  border-radius: 8px;
  .title {
    background-color: rgba($color: #000000, $alpha: .12);
    padding: 8px;
  }
}
@media screen and (max-width: 640px) {
  :host {
    flex-direction: column;
  }
  .card-request {
    max-width: 100%;
  }
}