:host {
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.card-request {
  font-size: .8rem;
  word-break: break-all;
  padding: 8px;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  background-color: #B0BEC5; // blue gray 200
  color: white;
  transition: background-color .5s ease-out;
  .request-method {
    font-size: 2rem;
  }
  &.error {
    background-color: #FF5722; // red 500
  }
  &.good {
    background-color: #4CAF50; // green 500
  }
}
.card-result {
  flex: 1;
  background-color: white;
}
pre{
  max-height: 200px;
}
.error-report{
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #FF3D00;
}