@import '~CssFramework/styles.scss';
:host {
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}
.card-request {
  font-size: .8rem;
  word-break: break-word;
  padding: $spacer-padding;
  max-width: 200px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #B0BEC5; // blue gray 200
  transition: .4s background-color ease;
  color: white;
  .request-method {
    font-size: 2rem;
  }
  .request-actions {
    display: flex;
    flex-wrap: wrap;
  }
  .request-url {
    margin-top: auto;
    font-weight: 300;
  }
  &.error {
    background-color: #E53935; // red 600
  }
  &.good {
    background-color: #43A047; // green 600
  }
}
.card-result {
  flex: 1;
  background-color: white;
  padding: $spacer-padding;
  overflow: hidden;
  div {
    padding: $spacer-padding;
    word-break: break-word
  }
}
pre{
  max-height: 300px;
}

@media screen and (max-width: 640px) {
  :host {
    flex-direction: column;
  }

  .card-request {
    max-width: 100%;
  }
}