<div 
[class.good]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length == 0" 
[class.error]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0"
class="card-request flex column">
  <span class="request-method no-shrink bold">{{ test?.method }}</span>
  <span class="request-url">{{ test?.url }}</span>
</div>
<div class="card-result horizontal-spacer vertical-spacer">
  <button (click)="start()">Test</button>
  <pre class="overflow">{{ test.expectedResponse | json }}</pre>
  <ng-container *ngIf="test.response">
    <div>Status {{ test.response?.status }}</div>
    <ng-container *ngIf="test.response?.errors.length > 0">
      <div class="error-report" *ngFor="let error of test.response?.errors">
        <div>
          <span *ngFor="let object of error.depth">{{ object }}</span>
        </div>
        <div>Error</div>
        <div><span class="secondary">Field:</span> {{error.key}}</div>
        <div><span class="secondary">Message:</span> {{error.type}}</div>
      </div>
    </ng-container>
    <pre class="overflow">{{ test.response?.body | json }}</pre>
  </ng-container>
</div>