:host {
  display: block;
  overflow-y: visible;
}
#play-btn {
  background-color: #FF7274;
  color: white;
}
#wrapper-statuses{
  background-color: #fff;
  border-radius: 8px;
  font-size: 2em;
  a{
    display: inline-block;
  }
}