<div [class.good]="test.response && test.response?.status == test.expectedResponse?.status && test.response?.errors.length == 0" [class.error]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0"
  class="card-request horizontal-spacer vertical-spacer">
  <span class="request-method no-shrink bold">{{ test?.method }}</span>

  <div class="request-actions flex">
    <ng-content></ng-content>
  </div>

  <span class="request-url">{{ test?.url }}</span>
</div>

<div class="card-result">
  <div class="horizontal-spacer vertical-spacer">
    <div class="code-wrapper">
      <div class="title">Expected Status</div>
      <pre class="overflow">{{ test.expectedResponse.status }}</pre>
    </div>
    <app-json-editor [obj]="test.expectedResponse.body" (objChange)="test.expectedResponse.body = $event"></app-json-editor>
    <!--
    <div class="code-wrapper">
      <div class="title flex">
        <span class="self-center">Expected Body</span>
        <span class="flex-grow"></span>
        <i #editMode (click)="editMode.enabled = !editMode.enabled" class="secondary clickable material-icons">{{editMode.enabled ? 'close' : 'edit'}}</i>
      </div>
      <div class="vertical-spacer" *ngIf="editMode.enabled; else showJson;">
        <app-object-editor [obj]="test.expectedResponse.body"></app-object-editor>
      </div>
      <ng-template #showJson>
        <pre class="overflow">{{ test.expectedResponse.body | json }}</pre>
      </ng-template>
    </div>
    -->
  </div>
  <ng-container *ngIf="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0">
    <hr>
    <div class="horizontal-spacer vertical-spacer">
      <div class="code-wrapper">
        <div class="title">Response Status</div>
        <pre class="overflow">{{ test.response?.status }}</pre>
      </div>
      <ng-container *ngIf="test.response?.errors.length > 0">
        <div class="error-wrapper" *ngFor="let error of test.response?.errors; trackBy: trackByFn">
          <div class="title">Error</div>
          <div class="horizontal-spacer vertical-spacer">
            <div>
              <span class="secondary">Field:</span>
              <ng-container *ngFor="let property of error.depth">
                <span class="field">{{property}}</span>
                <span class="separator secondary">></span>
              </ng-container>
              <span class="field">{{error.key}}</span>
            </div>
            <div><span class="secondary">Message:</span> {{error.type}}</div>
          </div>
        </div>
      </ng-container>
      <div class="code-wrapper">
        <div class="title">Response Body</div>
        <pre class="overflow">{{ test.response?.body | json }}</pre>
      </div>
    </div>
  </ng-container>
</div>