:host {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}
pre {
  max-height: 200px;
}
.card-request {
  word-break: break-all;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  background-color: #78909C; // blue gray 400
  transition: .4s background-color ease;
  color: white;
  transition: background-color .5s ease-out;
  padding: 16px;
  .request-method {
    font-size: 2rem;
  }
  .request-actions {
    margin: 8px 0;
  }
  .request-url {
    font-weight: 300;
  }
  &.error {
    background-color: #FF5722; // red 500
  }
  &.good {
    background-color: #4CAF50; // green 500
  }
}
.card-result {
  flex: 1;
  background-color: white;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  :host {
    flex-direction: column;
  }
  .card-request {
    max-width: 100%;
  }
}