<div [class.good]="test.response && test.response?.status == test.expectedResponse?.status && test.response?.errors.length == 0" [class.error]="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0"
  class="card-request row spacer">
  <div class="column spacer">
    <span class="request-method no-shrink bold">{{ test?.method }}</span>
    <div class="row">
      <ng-content></ng-content>
    </div>
    <span class="request-url">{{ test?.url }}</span>
  </div>
</div>
<div class="card-result">
  <div class="row spacer">
    <div class="column spacer">
      <div class="code-wrapper">
        <div class="title">Expected Status</div>
        <pre class="overflow">{{ test.expectedResponse.status }}</pre>
      </div>
      <app-json-editor [obj]="test.expectedResponse.body" (objChange)="test.expectedResponse.body = $event"></app-json-editor>
    </div>
  </div>
  <ng-container *ngIf="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0">
    <hr>
    <div class="row spacer">
      <div class="column spacer">
        <div class="code-wrapper">
          <div class="title">Response Status</div>
          <pre class="overflow">{{ test.response?.status }}</pre>
        </div>
        <ng-container *ngIf="test.response?.errors?.length > 0">
          <div class="error-wrapper" [class.warning]="error.type == errorTypes.UNEXPECTED_KEY_VALUE_PAIR" *ngFor="let error of test.response?.errors; trackBy: trackByFn">
            <div class="title">{{error.type == errorTypes.UNEXPECTED_KEY_VALUE_PAIR ? 'Warning' : 'Error'}}</div>
            <div class="row spacer">
              <div class="column spacer">
                <div>
                  <span class="secondary">Field:</span>
                  <ng-container *ngFor="let property of error.depth">
                    <span class="field">{{property}}</span>
                    <span class="separator secondary">></span>
                  </ng-container>
                  <span class="field">{{error.key}}</span>
                </div>
                <div>
                  <span class="secondary">Message:</span>
                  <span [ngSwitch]="error.type">
                      <span *ngSwitchCase="errorTypes.MISSING_KEY">Missing key</span>
                  <span *ngSwitchCase="errorTypes.DIFFERENT_VALUE">Different value</span>
                  <span *ngSwitchCase="errorTypes.UNEXPECTED_KEY_VALUE_PAIR">Found unexpected key-value pair</span>
                  <span *ngSwitchDefault>Unkown error</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="code-wrapper">
          <div class="title">Response Body</div>
          <pre class="overflow">{{ test.response?.body | json }}</pre>
        </div>
      </div>
    </div>
  </ng-container>
</div>