/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import '~CssFramework/styles.scss';
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
}
body {
  background-color: #424242;
}
.bold {
  font-weight: 700;
}
button {
  cursor: pointer;
}
.fab {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icons,
  .material-icons {
    font-size: 32px;
  }
}
pre{
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
  padding: 8px;
}
.secondary{
  color: rgba(0, 0, 0, .54);
}