/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import '~CssFramework/styles.scss';
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
}
*:focus {
  outline: none;
}
body {
  background-color: #424242;
}
button {
  cursor: pointer;
}
input,
select,
textarea {
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 8px;
  border-radius: 8px;
  max-width: 100%;
  resize: none;
}
input,
select {
  height: 39px;
}
select{
  cursor: pointer;
}
.bold {
  font-weight: 700;
}
.fab {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icons,
  .material-icons {
    font-size: 32px;
  }
}
pre {
  padding: 16px;
  margin: 0;
}
.secondary {
  color: rgba(0, 0, 0, .54);
}
hr {
  height: 1px;
  background-color: rgba(0, 0, 0, .24);
  border: none;
}