/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '~CssFramework/styles.scss';
@import './variables.scss';
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
body {
  background-color: #424242;
  overflow-y: scroll;
  color: rgba(0, 0, 0, .87)
}
button {
  background: none;
  height: 39px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  transition: box-shadow .25s ease-out;
  background-color: $accent;
  &:disabled {
    cursor: default;
    color: gray;
    background-color: darkgray;
    &:hover{
      box-shadow: none;
    }
  }
  &:hover{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  }
  &.outline {
    background-color: transparent;
    border: 1px solid $accent;
    color: $accent;
  }
  &.big {
    font-size: 1.2rem;
  }
  &.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    i,
    .icon {
      padding: 8px;
    }
  }
}
input,
select,
textarea {
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, .12);
  padding: 0 8px;
  border-radius: 8px;
  max-width: 100%;
  resize: none;
  transition: border-color .5s ease;
  &:focus {
    border-color: $primary;
  }
  &:disabled {
    background-color: rgba(0, 0, 0, .12);
  }
}
input,
select {
  height: 39px;
}
select {
  border-right-width: 4px;
  cursor: pointer;
}
pre {
  padding: 16px;
  margin: 0;
}
hr {
  height: 1px;
  background-color: rgba(0, 0, 0, .24);
  border: none;
}
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.primary {
  color: $primary;
}
.accent {
  color: $accent;
}
.bold {
  font-weight: 700;
}
.fab {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .icons,
  .material-icons {
    font-size: 32px;
  }
}
.secondary {
  color: rgba(0, 0, 0, .54);
}