:host {
  display: block;
  overflow-y: visible;
  margin-bottom: 64px;
}
#play-btn {
  background-color: #FF7274;
  color: white;
}
#wrapper-statuses{
  background-color: #fff;
  border-radius: 8px;
  font-size: 2em;
  a{
    display: inline-block;
  }
}

.test-delete {
  opacity: .4;
  transition: .2s opacity ease;
  &:hover, &:active {
    opacity: 1;
  }
}
#raz-btn {
  color: rgba(255,255,255,.87);
}