<div class="vertical-spacer horizontal-spacer">
  <div id="wrapper-statuses" class="vertical-spacer">
    <div class="flex wrap horizontal-spacer">
      <button id="play-btn" class="icon fab" (click)="testAll()">
        <i class="material-icons">play_arrow</i>
      </button>
      <ng-container *ngFor="let test of tests; let i = index">
        <a [href]="'#card-'+i" class="self-center" *ngIf="!test.response">
          <i class="material-icons">remove</i>
        </a>
        <a [href]="'#card-'+i" class="self-center" *ngIf="test.response && test.response?.status == test.expectedResponse?.status && test.response?.errors.length == 0">
          <i class="material-icons">check</i>
        </a>
        <a [href]="'#card-'+i" class="self-center" *ngIf="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0">
          <i class="material-icons">close</i>
        </a>
      </ng-container>
    </div>
  </div>
  <app-test-generator *ngIf="true"></app-test-generator>
  <app-request-card *ngFor="let test of tests; let i = index; trackBy: trackByFn" [id]="'card-'+i" [test]="test">
    <i class="clickable material-icons" (click)="start(test)">play_arrow</i>
    <i *ngIf="test.response" class="clickable material-icons" (click)="test.response = null">close</i>
  </app-request-card>
</div>