<div class="row spacer">
  <div class="col spacer">
    <div id="wrapper-statuses" class="col spacer">
      <div class="row spacer wrap">
        <ng-container *ngIf="tests?.length > 0">
          <button id="play-btn" class="icon fab" (click)="testAll()">
            <i class="material-icons">play_arrow</i>
          </button>
          <ng-container *ngFor="let test of tests; let i = index">
            <a [href]="'#card-'+i" class="self-center" *ngIf="!test.response">
              <i class="material-icons">remove</i>
            </a>
            <a [href]="'#card-'+i" class="self-center" *ngIf="test.response && test.response?.status == test.expectedResponse?.status && test.response?.errors.length == 0">
              <i class="material-icons">check</i>
            </a>
            <a [href]="'#card-'+i" class="self-center" *ngIf="test.response && test.response?.status != test.expectedResponse?.status || test.response?.errors.length > 0">
              <i class="material-icons">close</i>
            </a>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <app-test-generator></app-test-generator>
    <app-test-card *ngFor="let test of tests; let i = index; trackBy: trackByFn" [id]="'card-'+i" [test]="test">
      <i class="clickable material-icons" (click)="start(test)">play_arrow</i>
      <i *ngIf="test.response" class="clickable material-icons" (click)="test.response = null" [@fadeInOut]>replay</i>
      <div class="grow"></div>
      <i class="clickable material-icons button-delete-test" (click)="removeTest(test)">delete</i>
    </app-test-card>
    <div class="row inner-spacer justify-center">
      <button class="outline row" *ngIf="tests?.length > 0">
        <i class="material-icons">replay</i>
        <span class="self-center">RESET</span>
      </button>
      <button class="outline row" *ngIf="tests?.length > 0" (click)="export()">
        <i class="material-icons">save</i>
        <span class="self-center">EXPORT</span>
      </button>
    </div>
  </div>
</div>