:host {
  display: block;
}
.button-delete-test {
  opacity: .4;
  transition: .2s opacity ease;
  &:hover,
  &:active {
    opacity: 1;
  }
}
#home-content {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 128px;
  #classes-editor {
    background-color: #fff;
    border-radius: 8px;
    .variable {
      background-color: rgba(0, 0, 0, 0.24);
      border-radius: 12px;
      padding: 0 8px;
    }
  }
}
#wrapper-statuses {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
  z-index: 10;
  background-color: #fff;
  font-size: 2em;
  align-items: center;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  #play-btn {
    background-color: #FF7274;
    color: white;
  }
  a {
    display: inline-block;
  }
  .spacer {
    flex: 1;
  }
}